body{
    background-color: rgb(60, 242, 255);
    font-family: sans-serif;
}
.box{
    width: 480px;
    height: 480px;
    margin: 0 auto;
    cursor: pointer;                       
}
.tools{
    width: 480px;
    margin: 0 auto; 
    text-align: center;
    padding: 20px;    
}
.box div{
    width:2%;
    height: 2%;
    border:1px solid silver;
    float:left;
    background-color: #fff;
}
.tools span{
    margin-left:10px;
    font-weight: 600;
}
button{
    width: 100px;
    height: 30px;
    outline: none;
    border:none;
    background-color: rgb(6, 128, 2);
    color:white;
    border-radius:5px;
    transition: 0.5s;
    cursor: grab;
    font-size: 1em;
}
button:hover{
    background-color: #fff;
    color:rgb(6, 128, 2);
}
input{
    cursor: grab;
}